
html,
body {
    line-height: 1.2;
    height: 100%;
  
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Prompt', sans-serif;
}

.container-bg {

    background-color:white;
    color:dimgrey;
    padding:20px;
    width:100%;
    border-radius: 10px;
}

.card-header {
   
    background-color: rgba(167, 176, 55, 01);

}

#navbar {
    padding: 25px;
    transition: 0.5s;
}
@media (max-width:480px){
    .navbar-brand {
        font-size: 0.8rem;
        line-height: 2rem;
        
        }

}

/*
.card-img-top {
    width: 100px;
    height: 100px;
    text-align: center;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 50%;
    padding: 5px;
}
*/
.test h4 {
    color: #bac39f;
    padding: 5px 0;
    font-size: 54px;
    font-weight: 300;
    background: #fbfef2;
    border-bottom: solid 1px #f5f9e7;
}

.test h3 {

    background-color: rgba(78, 236, 140, 01);
    padding: 5px 0;
}


.bg-alpha {
    background: rgba(0, 0, 0, 0.5)
}
/*
position: relative 

*/
.border-short-bottom {
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}
/*
ใช้หลังจาก
border-short-bottom:
 position: absolute; อิสระใน ขอบเขต class นั้น
*/
.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;
}


/* Section Carousel */

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}
/*ภาพ ช่วง carousel ขนาด 100*100 ตำแหน่งภาพตรงกลาง*/
.carousel-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
/*caption ใน image*/
.carousel-caption {
    top: 40%;
}
/*สีในรูป background สีดำยาว 100*/
.backscreen {  
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }
}



/*section Blog*/
.warpper-card-img{
position: relative;
padding-top: 56.25%; /*16|9*/
overflow: hidden; /*ซ่อนรูปภาพ*/
}

.warpper-card-img img{
    position: absolute;
    top: 0; /*ขึ้นรูปภาพไปอยู่ข้างบน*/
    transition: 1s;/**/
}


.warpper-card-img img:hover{
   transform: scale(1.5); /**/
}
.blog-content{
padding: 5rem;
box-shadow: 0px 0px 10px #000;

}

@media (max-width:991px){
    .blog-content{
        padding: 20px 50px;
     
        }

}
@media (max-width:768px){
    .blog-content{
        padding: 20px 30px;
     
        }

}

/*semi-footer*/
.semi-footer {
    background: #2b2b2b;
    color: #fff;/*สีตัวหนังสือ*/


}
/*ตัวหนังสือใน footer class a สี*/
.semi-footer a {
    color: #dcdcdc;
}

.semi-footer li.active > a {
    color: #dcdcdc;
}
/*ตัวหนังสือใน footer class h4*/
.semi-footer h4 {
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;


}



/*footer*/
.footer {
    background: #000; /*สีข้างหลัง*/
    color: #fff;/*สีตัวหนังสือ*/
    font-size: 0.7rem; /*ขนาดตัวอักษร*/
    height: 90px; /*ความสูงของ class footer*/
    line-height: 90px; /*เทคนิคนี้ใช้ข้อความเฉพาะแถวเดียว*/
    text-align: center; /*ข้อความอยู่ตรงกลาง*/
}

#map {
    height: 300px;
    width: 100%;
}

.page-image{
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff ;
    background: rgba(0, 0, 0, 0.5); /*ให้เป็นสีเงา*/
}




.time-line{
    list-style: none;
    position: relative;
}

.time-line > li{
   position: relative;
}
.time-line > li::after{
    content: "";
    clear: both;
    display: block;
}

/*star-rating*/
 .star-rating{
position: relative;
color:gold;
font-size: 2em;
display: inline-block;
 }

.star-current{
 position: absolute;
 top: 0;
 white-space: nowrap;
 overflow: hidden;
   
}

/*Blog*/

.button-blog button{
    margin-bottom:0.5rem; 
    width: 100px;
    
   
}


.det a:hover{
text-decoration: none;

      
}
.owl-carousel .card-body{
    height: 150px;
    overflow: hidden;


}



.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.on-to{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background: #75c6fc;
    
    color: #fff;

    z-index: 9999;/*ตำแหน่งวัตถุ*/
    border-radius: 50%; /*ขอบวงกลม*/
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}
.on-to:hover{
    background:rgba(53, 12, 0, 0.5);
    color: #000;

}
